<!DOCTYPE html>
<html lang="en" ng-app="blog">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
</head>

<body>
    <div class="container" ng-controller="PhoneController as phone">
        <div class="row">
            <div class="col">
                <h1>Phonebook Content</h1>
            </div>
        </div>
        <div class="row">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input type="text" ng-model="phone.rec.name" />
                        </td>
                        <td>
                            <input type="text" ng-model="phone.rec.number" />
                        </td>
                        <td>
                            <input type="button" value="Add New" class="btn btn-primary" ng-click="phone.addNewPhone()" /> </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th>Sl.No</th>
                        <th>Name</th>
                        <th>Contact Number</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="book in phone.books">
                        <td>
                            <span ng-hide="book.status">{{ $index + 1 }}</span>
                        </td>
                        <td>
                            <span ng-hide="book.status">{{ book.name }}</span>
                            <input ng-show="book.status" type="text" ng-model="book.name" />
                        </td>
                        <td>
                            <span ng-hide="book.status">{{ book.number }}</span>
                            <input ng-show="book.status" type="text" ng-model="book.number" />
                        </td>
                        <td>
                            <input ng-hide="book.status" type="button" value="edit" ng-click="phone.toggleEdit($index)" class="btn btn-sm btn-info" />
                            <input ng-show="book.status" type="button" value="save" ng-click="phone.toggleEdit($index)" class="btn btn-sm btn-warn" />
                        </td>
                        <td>
                            <input type="button" value="delete" ng-click="phone.deleteContact($index)" class="btn btn-sm btn-danger" />
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input type="text" ng-model="phone.rec.name" />
                        </td>
                        <td>
                            <input type="text" ng-model="phone.rec.number" />
                        </td>
                        <td>
                            <input type="button" value="Add New" class="btn btn-primary" ng-click="phone.addNewPhone()" /> </td>
                        <td>&nbsp;</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <script src="lib/angular.js"></script>
    <script src="js/app.js"></script>
</body>

</html>