<!DOCTYPE html>
<html lang="en" ng-app="blog">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
</head>

<body>
    <div class="container" ng-controller="PhoneController as phone">
        <div class="row">
            <div class="col">
                <h1>Phonebook Content</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="btn-group" role="group">
                    <button type="button" ng-class="{active:phone.isSelected(1)}" ng-click="phone.setSelected(1)" class="btn btn-secondary">Tab 1</button>
                    <button type="button" ng-class="{active:phone.isSelected(2)}" ng-click="phone.setSelected(2)" class="btn btn-secondary">Tab 2</button>
                    <button type="button" ng-class="{active:phone.isSelected(3)}" ng-click="phone.setSelected(3)" class="btn btn-secondary">Tab 3</button>
                </div>
                <div class="col-12">
                    <p ng-show="phone.isSelected(1)">This is content of tab 1</p>
                    <p ng-show="phone.isSelected(2)">This is content of tab 2</p>
                    <p ng-show="phone.isSelected(3)">This is content of tab 3</p>
                </div>
            </div>
        </div>
    </div>
    <script src="lib/angular.js"></script>
    <script src="js/app.js"></script>
</body>

</html>